* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.calculator {
    padding: 6px;
    height: 558px;
    width: 356px;
    background-color: seagreen;
    border-radius: 14px;
}

.dial {
    background-color: #ffffff;
    height: 110px;
    margin: 3px;
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0px 15px;
}

.btn {
    margin: 3px;
    height: 80px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    background-color: #ffffff;
}

.btn:hover {
    background-color: #eeeeee;
}

.double-btn {
    margin: 3px;
    height: 80px;
    width: 166px;
    border-radius: 10px;
    border: 0;
    background-color: #ffffff;
}

.double-btn:hover {
    background-color: #eeeeee;
}